<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SereniTea</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/Images/logo_no_Back_Ground.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <!-- CSS Links -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>

<body class="index-page">
    <style>
        #notification {
            position: fixed;
            top: 100px;
            right: -300px;
            border: 3px solid rgb(0, 255, 33);
            color: rgb(0, 255, 33);
            padding: 2px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgb(0, 255, 33);
            font-size: 16px;
            z-index: 1000; /* Nằm trên cùng */
            transition: transform 0.5s ease, right 0.5s ease;
            transform: translateX(0);
        }

            #notification div {
                border: 3px solid rgb(0, 255, 33);
                padding: 20px;
                font-size: 18px;
                font-weight: bold;
            }

            /* Khi hiển thị thông báo */
            #notification.show {
                right: 20px; /* Di chuyển vào màn hình */
                transform: translateX(0);
            }

            /* Khi ẩn thông báo */
            #notification.hide {
                transform: translateX(100%);
            }

        #notification-fail {
            position: fixed;
            top: 100px;
            right: -300px;
            border: 3px solid rgba(216, 34, 83, 255);
            color: rgba(216, 34, 83, 255);
            padding: 2px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(216, 34, 83, 255);
            font-size: 16px;
            z-index: 1000; /* Nằm trên cùng */
            transition: transform 0.5s ease, right 0.5s ease;
            transform: translateX(0);
        }

            #notification-fail div {
                border: 3px solid rgba(216, 34, 83, 255);
                padding: 20px;
                font-size: 18px;
                font-weight: bold;
            }

            /* Khi hiển thị thông báo */
            #notification-fail.show {
                right: 20px; /* Di chuyển vào màn hình */
                transform: translateX(0);
            }

            /* Khi ẩn thông báo */
            #notification-fail.hide {
                transform: translateX(100%);
            }
    </style>
    <header id="header" class="header d-flex align-items-center fixed-top">
        @*style="background-color: rgba(0, 0, 0, 0.5); border-radius: 50px; margin: 1vw"*@
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="/Home/Home" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <img src="~/Images/logo_no_Back_Ground.png" />
                <img src="~/Images/brand_name.png" />
            </a>
            <div class="search">
                <form action="@Url.Action("Search", "Product")" method="get">
                    <input type="text" name="nameSP" value="@Request.QueryString["nameSP"]" class="search__input" placeholder="Nhập tên sản phẩm..." style="color: black;">
                    <button class="search__button" type="submit">
                        <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                            <g>
                                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/Home/Home" class="active">Trang chủ</a></li>
                    <li class="dropdown">
                        <a href="/Product/Product"><span>Danh mục</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>

                        <ul>
                            @Html.Action("DanhMuc", "Product")
                        </ul>
                    </li>
                    <li><a href="#DanhMuc">Bán chạy</a></li>
                    <li><a href="#GioiThieu">Về chúng tôi</a></li>
                    <li><a href="#contact">Liên hệ</a></li>
                    <li><a href="/Cart/Cart">Giỏ hàng</a></li>
                    @{
                        var vaiTro = Session["VaiTro"];
                        if (vaiTro != null && vaiTro.ToString() == "Khách hàng")
                        {
                            <li><a href="/KhachHang/KhachHangProfile">Danh thiếp</a></li>
                        }
                        else
                        {
                            Response.Redirect("/DN/DangNhap");
                        }
                    }

                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

            </nav>


        </div>
        <div id="notification">
            <div>
                Thao tác thành công
            </div>
        </div>
        <div id="notification-fail">
            <div>
                Thao tác thất bại
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <hr />
        <div class="container">
            <div class="container mt-5">
                <div class="row text-muted">

                    <div class="col-md-3">
                        <h6 class="fw-bold">Liên hệ trực tiếp</h6>
                        <p>Tư vấn trước khi mua hoặc liên hệ đặt hàng cho công ty</p>
                        <p class="mb-1">Hotline đặt hàng:</p>
                        <h4 class="fw-bold">0903-037-017</h4>
                        <img src="~/Images/qr_zalo.png" alt="Zalo QR" class="img-fluid" style="max-width: 100px;">
                    </div>

                    <div class="col-md-3">
                        <h6 class="fw-bold">Hệ thống cửa hàng</h6>
                        <p><strong>TP. HỒ CHÍ MINH</strong><br>140 Đ. Lê Trọng Tấn, Tây Thạnh, Tân Phú, Hồ Chí Minh<br>ĐT: 028 6270 6275<br>Giờ mở cửa: 6h00 – 21h00</p>
                        <p><strong>TP. HỒ CHÍ MINH</strong><br>93 Tân Kỳ Tân Quý, Tân Sơn Nhì, Tân Phú, TP. Hồ Chí Minh.<br>ĐT: 028 6270 6275<br>Giờ mở cửa: 6h00 – 21h00</p>
                        <p><strong>TP. HỒ CHÍ MINH</strong><br>73/1 Nguyễn Đỗ Cung, Tây Thạnh, Tân Phú, TP. Hồ Chí Minh.<br>ĐT: 028 6270 6275<br>Giờ mở cửa: 6h00 – 21h00</p>
                        <p><strong>TP. HỒ CHÍ MINH</strong><br>102-104-106 Nguyễn Quý Anh, Tân Sơn Nhì, Tân Phú, TP. HCM.<br>ĐT: 028 6270 6275<br>Giờ mở cửa: 6h00 – 21h00</p>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <h6 class="fw-bold">Có trên các sàn MTĐT</h6>
                            <a href="https://www.amazon.com"><img src="~/Images/amazon.jpg" alt="Amazon" class="img-fluid mb-2" style="max-width: 250px;"></a>
                            <div class="d-flex flex-wrap gap-2">

                                <a href="https://shopee.vn"><img src="~/Images/shopee 1.png" alt="Shopee" class="img-fluid" style="max-width: 50px;"></a>
                                <a href="https://www.tiktok.com"><img src="~/Images/tiktok.jpg" alt="TikTok" class="img-fluid" style="max-width: 50px;"></a>
                                <a href="https://lazada.vn"><img src="~/Images/lazada.jpg" alt="Lazada" class="img-fluid" style="max-width: 50px;"></a>
                                <a href="https://tiki.vn"><img src="~/Images/tiki.png" alt="Tiki" class="img-fluid" style="max-width: 50px;"></a>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 50px;">
                            <h4 class="fw-bold">Nhận thanh toán</h4>
                            <img src="~/Images/paypal_logo.png" alt="PayPal" class="img-fluid" style="max-width: 150px;">
                            <div class="d-flex flex-wrap gap-5">
                                <img src="~/Images/Visa-Logo.png" alt="Visa" class="img-fluid" style="max-width: 70px;">

                            </div>
                            <img src="~/Images/momo.png" alt="Momo" class="img-fluid" style="max-width: 70px;">
                        </div>

                        <div class="row" style="margin-top: 40px;">
                            <img src="~/Images/logo-da-thong-bao-bo-cong-thuong-1.png" alt="Momo" class="img-fluid" style="max-width: 250px;">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h6 class="fw-bold">Thông tin / Chính sách</h6>
                        <ul class="list-unstyled">
                            <li>Serenitea Rewards</li>
                            <li>Bảng Giá Serenitea</li>
                            <li>Hệ thống cửa hàng</li>
                            <li>Kiểm tra đơn hàng</li>
                            <li>Giao hàng và đổi trả</li>
                            <li>Mua hàng & Thanh toán</li>
                            <li>Chính sách bảo mật thông tin cá nhân</li>
                            <li>Điều khoản sử dụng website</li>
                            <li>Tuyển dụng</li>
                            <li>Tin Trà Việt</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row mt-4 text-muted">
                    <div class="col-md-4 text-start">
                        Copyright © 2024 - LTW & CNPM
                    </div>

                    <div class="col-md-4 text-center">
                        Web shop bán trà
                    </div>
                    <div class="col-md-4 text-end" style="color: red;">
                        Việt Nam
                    </div>
                </div>
                <div class="row text-center">
                    <div><br /></div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @*Preloader*@
    <div id="preloader"></div>
    <script>
        function showNotification() {
            const notification = document.getElementById('notification');
            notification.classList.remove('hide'); // Xóa lớp ẩn nếu có
            notification.classList.add('show'); // Thêm lớp hiển thị

            // Sau 3 giây, ẩn thông báo
            setTimeout(() => {
                notification.classList.remove('show');
                notification.classList.add('hide');
            }, 3000);
        }

        function showNotificationFail() {
            const notification = document.getElementById('notification-fail');
            notification.classList.remove('hide'); // Xóa lớp ẩn nếu có
            notification.classList.add('show'); // Thêm lớp hiển thị

            // Sau 3 giây, ẩn thông báo
            setTimeout(() => {
                notification.classList.remove('show');
                notification.classList.add('hide');
            }, 3000);
        }



    </script>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/TaskWork.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>
</html>
