@model WebBanTra.OOP.ProductViewModel
@{
    ViewBag.Title = "Sản Phẩm";
}

<main class="main">

    <!-- Page Title -->
    <div class="page-title" style="background-image: url(https://www.traviet.com/wp-content/uploads/2018/11/hop-qua-tang-1.jpg);">
        <div class="container position-relative">
            <h1 style="color: rgba(216, 34, 83, 255);">Sản phẩm</h1>
            <p>Hãy mua theo cách của bạn!</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/Home/Home" style="color: rgba(216, 34, 83, 255);">Trang chủ</a></li>
                    <li class="current">Sản phẩm</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
        <div class="container">
            @*<div class="row gy-4 align-items-center">
                <h5 class="text-center mt-4">Lọc trong khoảng giá</h5>
                <div class="price-slider">
                    <input type="range" id="priceRange" min="98000" max="9999000" step="1000" value="5000000">
                    <div class="price-label text-muted">
                        Giá: <span id="priceValue">5.000.000 VND</span>
                    </div>
                </div>
            </div>*@
            <div class="row gy-4">

                @if (Model.listProducts.Count > 0)
                {
                    foreach (WebBanTra.Models.SanPham item in Model.listProducts)
                    {
                        if (item != null)
                        {
                            <div class="col-lg-4">
                                <a href="@Url.Action("ChiTietSanPham", "Product", new { id = item.MaSP })">
                                    <article>
                                        <div class="post-img">
                                            <img src="@Model.listAnhSP.Where(r => r.MaSP == item.MaSP).FirstOrDefault().LinhAnh" alt="@item.TenSP" class="img-fluid">
                                        </div>

                                        <h2 class="title">@item.TenSP</h2>
                                        <p>Danh mục: <a href="@Url.Action("SearchDM", "Product", new {nameDM = item.MaDM})" style="color: rgba(216, 34, 83, 0.8);">@item.DanhMuc.TenDM</a></p>
                                        <div>
                                            Giá sản phẩm:
                                            <span class="post-category" id="current-ctsp-@item.MaSP" style="margin-right: 10px; color:red; font-size: 20px; font-weight: 500">@item.Gia  </span>
                                            <span id="current-gg-@item.MaSP" style="text-decoration: line-through; color: rgb(186, 186, 186);">@Convert.ToInt32(item.Gia * 1.2)</span>
                                        </div>


                                    </article>
                                </a>
                            </div>
                        }
                    }
                }
else
            {
                <p style=" text-align: center; font-size: 30px;">Không có sản phẩm nào</p>
            }


            </div>
        </div>

    </section><!-- /Blog Posts Section -->
    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

        <div class="container">
            <div class="d-flex justify-content-center">
                <ul>
                    @if (Model.totalPage > 0)
                    {
                        if (Model.currentPage > 1)
                        {
                            <li>
                                <a href="@Url.Action("Product", new { page = Model.currentPage - 1 })"><i class="bi bi-chevron-left"></i></a>
                            </li>
                        }

                        if (Model.currentPage >= 2)
                        {
                            <li><a href="@Url.Action("Product", new { page = Model.currentPage - 1 })">@Convert.ToString(Model.currentPage - 1)</a></li>
                        }

                        <li><a href="@Url.Action("Product", new { page = Model.currentPage })" class="active">@Model.currentPage</a></li>

                        if (Model.currentPage == Model.totalPage)
                        {
                            <li><a hidden href="@Url.Action("Product", new { page = Model.currentPage + 1 })">@Convert.ToString(Model.currentPage + 1)</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Product", new { page = Model.currentPage + 1 })">@Convert.ToString(Model.currentPage + 1)</a></li>
                        }


                        if (Model.currentPage < Model.totalPage)
                        {

                            <li>
                                <a href="@Url.Action("Product", new { page = Model.currentPage + 1 })"><i class="bi bi-chevron-right"></i></a>
                            </li>
                        }
                    }

                    @*<li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#" class="active">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>...</li>
        <li><a href="#">10</a></li>*@

                </ul>
            </div>
        </div>

    </section><!-- /Blog Pagination Section -->

</main>

