@model WebBanTra.OOP.UserKH

@{
    ViewBag.Title = "Thông tin khách hàng";
}
<style>
    .input-group label {
        font-weight: bolder;
        color: gray;
    }

    .input-group span {
        color: red;
    }

    .input-group .input-order {
        height: 50px;
        width: 100%;
        border: 1px solid rgb(202, 202, 202);
        border-radius: 50px;
    }

    .input-group input {
        all: unset;
        height: 100%;
        width: 98%;
        margin-left: 2%;
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }

    .input-group select {
        all: unset;
        margin-left: 2%;
    }

    .table p {
        text-align: right;
    }
</style>


<main class="main" style="margin-top: 100px;">
    <div class="container">

        <div class="row">
            <h1 style="color: black; font-size: 50px; font-weight: bold;">Thông tin khách hàng</h1>
            <div class="col-lg-6">
                <div class="btn-group">
                    <a href="/DN/DangXuat" class="cta-btn align-middle" style="margin-top:20px; background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px 25px; text-align: center; font-size: 20px;">Đăng xuất</a>
                </div>
                <section id="blog-details" class="blog-details section">
                    <div class="container">
                        <form action="/KhachHang/ChangeProfile" method="post">
                            <div class="input-group" hidden>      
                                <label for="MaKH" class="form-control-plaintext">Họ và tên khách hàng <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important;">
                                    <input type="text" name="MaKH" placeholder="Họ và tên khách hàng" value="@Model.KhachHang.MaKH" id="input-inf-1" />
                                </div>
                            </div>
                            <div class="input-group">
                                <label for="TenKH" class="form-control-plaintext">Họ và tên khách hàng <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important;">
                                    <input type="text" name="TenKH" placeholder="Họ và tên khách hàng" value="@Model.KhachHang.TenKH" id="input-inf-1" />
                                </div>
                            </div>
                            <br />
                            <div class="input-group">
                                <label for="GioiTinh" class="form-control-plaintext">Giới tính <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important;">
                                    <select name="GioiTinh" style=" height: 100%; width: 98%; margin-top: 11px; pointer-events: none; cursor: not-allowed; opacity: 0.5;" id="input-inf-2">
                                        <optgroup label="Giới tính">
                                            @if (Model.KhachHang.GioiTinh == "Nam")
                                            {
                                                <option value="Nam" selected>Nam</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Không có">Không có</option>
                                            }
                                            else if (Model.KhachHang.GioiTinh == "Nữ")
                                            {
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ" selected>Nữ</option>
                                                <option value="Không có">Không có</option>
                                            }
                                            else
                                            {
                                                <option value="Không có" selected>Không có</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ" selected>Nữ</option>
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="input-group">
                                <label for="Email" class="form-control-plaintext">Email <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important; background-color: rgb(202, 202, 202); pointer-events: none; cursor: not-allowed; opacity: 0.5;">
                                    <input type="text" name="Email" placeholder="Email" value="@Model.KhachHang.Email" />
                                </div>

                            </div>
                            <br />
                            <div class="input-group">
                                <label for="SDT" class="form-control-plaintext">Số điện thoại <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important; background-color: rgb(202, 202, 202); pointer-events: none; cursor: not-allowed; opacity: 0.5;">
                                    <input type="text" name="SDT" placeholder="Số điện thoại" value="@Model.KhachHang.SDT" />
                                </div>

                            </div>
                            <br />
                            <div class="input-group">
                                <label for="DiaChi" class="form-control-plaintext">Địa chỉ <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important;">
                                    <input type="text" name="DiaChi" placeholder="Địa chỉ" value="@Model.KhachHang.DiaChi" id="input-inf-3" />
                                </div>

                            </div>
                            <br />
                            <div class="input-group">
                                <label for="NgaySinh" class="form-control-plaintext">Ngày sinh <span>(*)</span></label>
                                <div class="input-order" style="border-radius: 50px !important;">
                                    <input type="text" name="NgaySinh" placeholder="Ngày sinh" value="@Model.KhachHang.NgaySinh" id="input-inf-4" />
                                </div>
                            </div>
                            <div class="btn-group">
                                <button class="cta-btn input-inf" onclick="saveData()" type="submit" id="btn-save" style="all: unset; cursor: pointer; margin: 20px 0; display: none; background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px 25px; text-align: center; font-size: 20px; ">Lưu thay đổi</button>
                            </div>
                        </form>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="cta-btn" onclick="changeData()" id="btn-change" style="all: unset; cursor: pointer; margin-top: 20px;  background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px 25px; text-align: center; font-size: 20px;">Sửa thông tin</a>
                    </div>
                    <div class="btn-group">
                        <a href="/Home/Home" class="cta-btn align-middle" style="margin-top:20px; background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px 25px; text-align: center; font-size: 20px;">Quay về cửa hàng</a>
                    </div>
                </section>
            </div>

            <div class="col-lg-6 sidebar">

                <div class="widgets-container">
                    <div class="blog-author-widget widget-item" style="border-radius: 50px;">

                        <div class="d-flex flex-column align-items-center">
                            @if (Model.ListChiTietDonHang.Count > 0)
                            {
                                <h4 style="margin-bottom: 10px; color: black;">Đơn hàng chưa giao của bạn</h4>
                                <br />
                                <div style="background-color: rgb(220, 220, 220); width: 100%; height: 2px;"></div>
                                <br />
                                <table class="table table-bill">

                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th>Tình trạng</th>
                                    </tr>

                                    @foreach (WebBanTra.Models.ChiTietDH item in Model.ListChiTietDonHang)
                                    {

                                        <tr>
                                            <td style="width: 50%">
                                                <a href="@Url.Action("ChiTietSanPham", "Product", new {id = item.MaSP})">
                                                    <img src="@Model.listAnhSP.Where(r => r.MaSP == item.MaSP).FirstOrDefault().LinhAnh" alt="@item.SanPham.TenSP" />
                                                    <p style="text-align:left;">@item.SanPham.TenSP</p>
                                                </a>
                                            </td>
                                            <td style="width: 20%">@item.SoLuongMua</td>
                                            <td id="current-" style="width: 30%">@Convert.ToString(item.SanPham.Gia * item.SoLuongMua)</td>
                                            <td style="width: 30%">@Model.listDonHang.Where(r=> r.MaDH == item.MaDH).FirstOrDefault().TrangThai</td>
                                            @*<td style="width: 20%">
            @if (item.TrangThai == "Đã giao")
            {
                <button >class="btn align-middle" style="background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px; text-align: center; font-size: 14px;</button>
                <a href="#" class="btn align-middle" style="background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px; text-align: center; font-size: 14px;">Đánh giá</a>
            }
            else
            {
                <a href="#" class="btn align-middle" disabled style="background-color: rgba(216, 34, 83, 255); color: white; border-radius: 50px; padding: 10px; text-align: center; font-size: 14px;">Đánh giá</a>
            }

        </td>*@
                                        </tr>
                                    }

                                </table>
                            }
                            else
                            {
                                <p style="text-align: center; font-size: 20px; color: black;">Bạn chưa có đơn hàng nào.</p>
                            }


                        </div>
                    </div>

                </div>

            </div>
        </div>
        
    </div>
    <script>
        function changeData() {
            // Hiển thị nút Save, ẩn nút Change
            document.getElementById('btn-save').style.display = 'block';
            document.getElementById('btn-change').style.display = 'none';

            // Chọn tất cả các input có id chứa 'input-inf-'
            var inputs = document.querySelectorAll('[id*="input-inf-"]');
            inputs.forEach(function (input) {
                input.style.pointerEvents = 'auto'; // Cho phép tương tác với input
                input.style.opacity = 1;            // Thiết lập độ mờ 100% (hiển thị)
                input.style.cursor = 'pointer';    // Hiển thị con trỏ chuột dạng 'pointer'
            });
        }


        function saveData() {
            document.getElementById('btn-save').style.display = 'none';
            document.getElementById('btn-change').style.display = 'block';

            var inputs = document.querySelectorAll('[id*="input-inf-"]');
            inputs.forEach(function (input) {
                input.style.pointerEvents = 'none'; // Cho phép tương tác với input
                input.style.opacity = 0.5;            // Thiết lập độ mờ 100% (hiển thị)
                input.style.cursor = 'not-allowed';    // Hiển thị con trỏ chuột dạng 'pointer'
            });
        }
    </script>
</main>



